@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --brandcolor: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.contact li {
  font: weight 500px;
  color: #757575;
}

.Navegador {
  font-weight: 500;
  color: #212121;
}

a:link {
  text-decoration: none;
  color: currentcolor;
}

a:visited {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: var(--brandcolor);
  text-decoration: none;
}

footer .logo,
header .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: var(--brandcolor);
}

h1 {
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

.services h3 {
  font-weight: 700;
  font-size: 14px;
}

.equipo {
  font-weight: 500;
  font-size: 16px;
}

button {
  background-color: #f5f4fa;
  color: #212121;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: var(--brandcolor);
  color: #ffffff;
}
.servicebutton {
  background-color: var(--brandcolor);
  color: #ffffff;
  cursor: pointer;
}

.servicebutton:hover {
  background-color: #f5f4fa;
  color: #212121;
}

address {
  text-decoration: none;
  font-style: normal;
  color: #ffffff;
}

ul .products p {
  font-size: 16px;
  color: #757575;
}
ul .products h3 {
  font-weight: 700;
  font-size: 18px;
}

.products li {
  cursor: pointer;
}

.margin1 {
  background-color: #2f303a;
}
.margin2 {
  background-color: #f5f4fa;
}

ul {
  list-style-type: none;
}
